.logo {
  margin-right: 94px;
  @include sizeLOGO();
  color: $brand-color;
}

.logo__darck {
  color: $brand-black-color;
}

.footer-logo {
  margin-bottom: 20px;
  color: $brand-color;
  @include sizeLOGO();
  cursor: default;
}

.footer-logo__white {
  color: $white-color;
}
